<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-configuserkey-heading">Create or edit a Configuserkey</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!configuserkey.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="configuserkey.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_platform">Platform</label>
                    <input type="text" class="form-control" name="platform" id="field_platform"
                        [(ngModel)]="configuserkey.platform" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_apikey">Apikey</label>
                    <input type="text" class="form-control" name="apikey" id="field_apikey"
                        [(ngModel)]="configuserkey.apikey" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_secretkey">Secretkey</label>
                    <input type="text" class="form-control" name="secretkey" id="field_secretkey"
                        [(ngModel)]="configuserkey.secretkey" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_createby">Createby</label>
                    <input type="text" class="form-control" name="createby" id="field_createby"
                        [(ngModel)]="configuserkey.createby" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_createdate">Createdate</label>
                    <div class="d-flex">
                        <input id="field_createdate" type="datetime-local" class="form-control" name="createdate" [(ngModel)]="createdate"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_updateby">Updateby</label>
                    <input type="text" class="form-control" name="updateby" id="field_updateby"
                        [(ngModel)]="configuserkey.updateby" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_updatedate">Updatedate</label>
                    <div class="d-flex">
                        <input id="field_updatedate" type="datetime-local" class="form-control" name="updatedate" [(ngModel)]="updatedate"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_remarks">Remarks</label>
                    <input type="text" class="form-control" name="remarks" id="field_remarks"
                        [(ngModel)]="configuserkey.remarks" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_delflag">Delflag</label>
                    <input type="number" class="form-control" name="delflag" id="field_delflag"
                        [(ngModel)]="configuserkey.delflag" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
